<%- include("./partials/header") %>

<h1>Cluckr Sign In</h1>

<form class="sign-in-form" action="/sign_in" method="POST">
          <input type="text" name="username" placeholder="Username">
          <input type="submit" value="Sign In">
        </form>


<%- include("./partials/footer") %>

