<%- include("./partials/header") %>

<h1>Welcome to Cluckr</h1>


<h3>Cluckr, a simple twitter clone with Express.</h3>
<img
  class="welcome-img"
  src="/images/cluckr.gif"
  height="500px"
  alt="Cluckr logo"
>

<%- include("./partials/footer") %>
